<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log">

  <!-- optional, add some variables
  https://github.com/nlog/NLog/wiki/Configuration-file#variables
  -->
  <variable name="def_logfile" value="logs/RemoteSync.${date:format=yyyyMMdd}.log" />

  <!--
  See https://github.com/nlog/nlog/wiki/Configuration-file
  for information on customizing logging rules and outputs.
   -->
  <targets>
    <target xsi:type="Console"
            name="DebugConsoleLogger"
            layout="${processtime} | ${pad:padding=-50:inner=${callsite}\:${callsite-linenumber}} | ${pad:padding=-5:inner=${level:uppercase=true}} | ${message}${onexception:${newline}${exception:format=tostring}}"
            />
    <target xsi:type="File"
            name="DebugFileLogger"
            fileName="${var:def_logfile}"
            layout="${longdate} (${processtime}) | ${pad:padding=-50:inner=${callsite}\:${callsite-linenumber}} | ${pad:padding=-5:inner=${level:uppercase=true}} | ${message}${onexception:${newline}${exception:format=tostring}}"
            />
  </targets>

  <rules>
    <logger name="*"
            minlevel="Trace"
            writeTo="DebugConsoleLogger"
            />
  </rules>
</nlog>
